@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8a8a8a;
}
.todo {
    position: relative;
    background: #ffffff;
    width:  650px;
    border-radius: 22px;
}
.header{
    background: #23aed1;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 20px;
}
.header button{
    border-radius: 50%;
    position: relative;
    color: #000000;
    background: #ffffff;
    float: right;
    width:  29px;
    margin-top: -28px;
}
.item{
    position: relative;
    padding: 20px 0;

}
.item-btn{
    display: flex;
    align-items: center;
    gap: 1px;
    border-bottom: 1px solid #8a8a8a;
    box-shadow: 0 5px 10px rgb(64, 64, 65);
    padding: 10px;
    margin: 5px 10px;

}
.completed{
    background-color: aquamarine;
}
.item-btn i {
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}
.spn {
    margin-left: 475px;
    position: fixed;
}
h3{
    margin-left: 20px;
}
h4{
    text-align: center;
    font-size: 24px;
}
